<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Internet Key-Milestones</title>
 </head>   
 <body>
    <header>
        <h1>History of the internet</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/internet-history">History of the internet</a></li>
            <li><a href="/web-history">History</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Internet Key-Milestones</h2>
            <article>
                <h3>-ARPANET Launch(1969)</h3>
                <p>
                    Thus began one of the first big trials of a then-radical idea: Networking different kinds of computers together. The project was called ARPANET an experimental network built by the US ARPA (Advanced Research Projects Agency). It was designed to connect islands.
                </p>
                <a href="https://computerhistory.org/blog/history-of-the-future-october-29-1969-fifty-years-of-a-connected-world/">Computer History</a>
            </article>
            <article>
                <h3>-Creation of Email: (1971)</h3>
                <p>
                    Most people give Ray Tomlinson the title of email’s inventor. He came up with the idea while working for ARPANET, the government-funded research project that eventually became the internet. Among Tomlinson’s most notable contributions to email as we know it today is the use of the @ symbol.
                </p>
                <a href=": https://www.ranjanb.com/blog/news-2/the-history-of-the-internet-from-early-beginnings-to-future-innovations-21#:~:text=Launched%20in%201969%2C%20ARPANET%20initially%20connected%20four,marked%20another%20critical%20moment%20in%20internet%20history">The history of internet from early beginnings to future innovations</a>
            
            </article>
            <article>
                <h3>-Introduction of DNS:(1983)</h3>
                <p>
                    Domain Name System (DNS) introduced, Simplified internet navigation by assigning human-readable domain names to IP addresses.

                </p>
                <a href="https://www.ranjanb.com/blog/news-2/the-history-of-the-internet-from-early-beginnings-to-future-innovations-21#:~:text=Launched%20in%201969%2C%20ARPANET%20initially%20connected%20four,marked%20another%20critical%20moment%20in%20internet%20history.">Domain name server</a>
            </article>
            <article>
                <h3>-Adoption of TCP/IP:(1983)</h3>
                <p>
                    Adoption of TCP/IP: ARPANET officially standardized on Transmission Control Protocol/Internet Protocol (TCP/IP). TCP/IP allowed diverse, incompatible computer networks to talk to each other, marking the technical birth of the global internet.
                </p>
                <a href="https://www.ranjanb.com/blog/news-2/the-history-of-the-internet-from-early-beginnings-to-future-innovations-21#:~:text=Launched%20in%201969%2C%20ARPANET%20initially%20connected%20four,marked%20another%20critical%20moment%20in%20internet%20history.">TCP/IP</a>
            </article>
            <article>
                <h3>-NSFNET Decommissioning & Internet Privatization(1995)</h3>
                <p>
                    Though little attention was given to this landmark at the time, by 1995 the US internet backbone had been fully privatized. From this moment on, internet infrastructure (or at least, American internet infrastructure) no longer operated a mixed private/public model, but had become a fully privatized network, subject to some regulation (and less than that applied to telecommunications).
                </p>
                <a href=": https://autonomy.work/portfolio/the-internet-disappears-1991-2010/">NSFNET</a>
            </article>
            <article>
                <h3>-Formation of ICANN and definition of IPV6(1998):</h3>
                <p>
                    Established in 1998 by the U.S. Department of Commerce, ICANN's enduring mission has been to ensure the stable and secure operation of the Internet's unique identifier systems including the Domain Name System (DNS). Its achievements stem from collaborative efforts that brought together technical experts, governments, civil society, businesses, and end users. Throughout the past two and a half decades, ICANN has been at the forefront of technical Internet governance and policy development, ensuring the stable and reliable technical operation of the Internet. Key milestones include the formation of crucial advisory committees and supporting organizations to ensure representation from governments, civil society, and technical communities to the introduction of more than 1,200 new generic top-level domains (gTLDs), and the global expansion of its operational offices.
                </p>
                <a href="https://www.icann.org/en/history/icann-turns-25">ICANN</a>
            </article>
        </section>
    </main>
    <footer>
          <p>Web Programming — built with Flask and deployed on Render.</p>
    <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>

    </footer>
   
 </body>
</html>